h2 {
    color: #F0E5FA;
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 30px;
}

h1 {
    color: #904CCD;
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 40px;
}